<!doctype html>

<textarea cols="80" rows="40" id="khl"></textarea>

<button onclick="submit_entry();">Submit</button>

<h2>Number of errors:<span id="Errors"></span> </h2>
<h2>Number of sorries:<span id="Sorries"></span> </h2>
<pre>Lean: <br><span id="Lean"></span></pre>
<pre>Output: <br><span id="Repl"></span></pre>

<script>
    function submit_entry() {
        
        var name = document.getElementById("khl");
        var entry = {name : name.value}
        fetch(`${window.origin}/create`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache:"no-cache",
            headers: new Headers({
                "content-type" : "application/json"
            })
        }).then(function (response) {
            if (response.status != 200){
                console.log("cringe");
                return;
            }
            response.json().then(function (data) {
                console.log(data)
                document.getElementById("Lean").innerHTML = data["lean"];
                document.getElementById("Repl").innerHTML = data["repl"];
                document.getElementById("Errors").innerHTML = data["errors"];
                document.getElementById("Sorries").innerHTML = data["sorries"];
            })

        })
    }
</script>



