<!doctype html>
<html data-theme="light">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='pico.classless.min.css')}}">


    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>
<body class="no-mathjax">
<main>
    <div class="mathjax" id="display">
    </div>
    <textarea rows="20" cols="10" id="khl"></textarea>

    <button onclick="submit_entry();">Submit</button>
    <h2>Number of errors:<span id="Errors"></span> </h2>
    <h2>Number of sorries:<span id="Sorries"></span> </h2>
    <pre>Lean: <br><span id="Lean"></span></pre>
    <pre>Output: <br><span id="Repl"></span></pre>

    <script>
        function submit_entry() {
            
            var khl = document.getElementById("khl");
            var entry = {khl : khl.value}
            fetch(`${window.origin}/create`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache:"no-cache",
                headers: new Headers({
                    "content-type" : "application/json"
                })
            }).then(function (response) {
                if (response.status != 200){
                    console.log("bad");
                    return;
                }
                response.json().then(function (data) {
                    console.log(data)
                    document.getElementById("Lean").innerHTML = data["lean"];
                    document.getElementById("Repl").innerHTML = data["repl"];
                    document.getElementById("Errors").innerHTML = data["errors"];
                    document.getElementById("Sorries").innerHTML = data["sorries"];
                })

            })
        }
        function read_ocr() {
            
            fetch(`${window.origin}/ocr`, {
                method: "POST",
                credentials: "include",
                cache:"no-cache",
                headers: new Headers({
                    "content-type" : "application/json"
                })
            }).then(function (response) {
                if (response.status != 200){
                    console.log("bad");
                    return;
                }
                response.json().then(function (data) {
                    if (typeof(data["latex_styled"]) != "undefined"){
                        console.log("Update")
                        var target = document.getElementById("khl")
                        var latex = data["latex_styled"]

                        if (latex[0]=="=")
                            {expr = "<Math>\n_"+latex+"\n</Math>\n<Auto>\n"}
                            else{expr = "<Math>\n"+latex+"\n</Math>\n\n"}

                        target.focus()
                        document.execCommand('insertText', false /*no UI */, expr);
                 
                    }
                })
            })
        }

        function sanitizeMath(text){
            s = text
            s = s.replaceAll("<Math>","\\[")
            s = s.replaceAll("</Math>","\\]")
            s = s.replaceAll("<Auto>", "")
            s = s.replaceAll("_=", "=")
            s = s.replaceAll("\n\n", "\n")
            return s
        }

        function displayMath(){
            var khl = document.getElementById("khl")
            var target=document.getElementById("display")
            target.innerText = sanitizeMath(khl.value)
            MathJax.typeset()
        }

        setInterval(read_ocr, 1000)
        setInterval(displayMath, 1000)
    </script>
</main>
</body>

</html>
