<!DOCTYPE html>
<head>
    <script src="{{url_for('static', filename='painterro-1.2.87.min.js')}}"></script>
</head>
<body>
    <h1>Hi</h1>
    <script>
        Painterro().show()
        var ptro = Painterro({
            saveHandler: function (image, done) {
            var formData = new FormData();
            formData.append('image', image.asBlob());
            // you can also pass suggested filename 
            // formData.append('image', image.asBlob(), image.suggestedFileName());
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://127.0.0.1:5000/save-as-binary/', true);
            xhr.onload = xhr.onerror = function () {
            // after saving is done, call done callback
            done(true); //done(true) will hide painterro, done(false) will leave opened
            };
            xhr.send(formData);
        }
    })
    ptro.show();
    </script>
</body>