<!DOCTYPE html>
<head>
    <script src="{{url_for('static', filename='painterro-1.2.87.min.js')}}"></script>
</head>
<body>
    <script>
        var ptro = Painterro({
            saveHandler: function (image, done) {
            var formData = new FormData();
            formData.append('image', image.asBlob());
            // you can also pass suggested filename 
            // formData.append('image', image.asBlob(), image.suggestedFileName());
            var xhr = new XMLHttpRequest();
            xhr.open('POST', `${window.origin}/save-as-binary`, true);
            xhr.onload = xhr.onerror = function () {
            // after saving is done, call done callback
            done(false); //done(true) will hide painterro, done(false) will leave opened
            };
            xhr.send(formData);

        },
            defaultTool : 'brush',
            hiddenTools: [
                'select',
                'crop',
                'pixelize',
                'line',
                'arrow',
                'rect',
                'ellipse',
                // 'brush',
                // 'eraser',
                'text',
                'rotate',
                'resize',
                // 'save',
                // 'open',
                // 'close',
                // 'undo',
                // 'redo',
                // 'zoomin',
                // 'zoomout',
                'bucket',
                'clear',
                'settings',
            ]
    })
    ptro.show();
    // ptro.save()
    </script>
</body>