<!DOCTYPE html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/js-draw@1.20.3/dist/bundle.js"></script>
</head>
<body>
    <script>

	// Create the editor!
	const editor = new jsdraw.Editor(document.body);

	// Adds the defualt toolbar
	const toolbar = editor.addToolbar();

        // Increases the minimum height of the editor
    editor.getRootElement().style.height = `${window.screen.height*3/4}px`;
    const addToHistory = false;
    editor.dispatch(editor.setBackgroundStyle({ 
        autoresize: true,
        color: jsdraw.Color4.white
     }), addToHistory);
    // Adding tags to a toolbar button allows different styles to be applied.
    // Also see addActionButton.
    toolbar.addSaveButton(() => {
        const image = editor.toSVG().outerHTML;
        // Do something with saveData
        var formData = new FormData();
        formData.append('image', image);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', `${window.origin}/save`, true);
        xhr.send(formData);

    });
    </script>
</body>